  @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');



  body, html {
    height: 100%;
    margin: 0;
    font-family: arial, sans-serif;
  }

  h1 {
    font-family: 'MedievalSharp', cursive;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #9B786F;
  }

  .logo{
      color: rgb(226,226,226);
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 20px;
  }

  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 40%;
  }

  .nav-links li{
      list-style: none;

  }

  .nav-links a{
      color: rgb(226, 226, 226);
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
  }

  .hero-image {
    background-image: url('images/heroax.JPG');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }

  .hero-text button {
    border: none;
    border-radius: 15px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;

  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }



  .body-of-text {

    text-align: center;
    position: relative;
    color: black;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 948px;
    height: 400px;
    line-height: 1.6;
  }

  .historieline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('images/skog1.png');
    background-size: cover;
    position: relative;
  }
  .hspan {

        color: white;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 1.25em;
        font-family: 'New Tegomin', serif;
  }

  .historie {
    text-align: center;
    position: relative;
    color: black;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 948px;
    height: 400px;

  }

  .historie-content {
     line-height: 1.6;
  }

  .ref {
    font-style: italic;
  }

  .media {
    text-align: center;
  }

  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    color: #fff;
    background-color: #66617d;
    opacity: 0.60;
    }

    @media screen and (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links a {
        padding: 10px;
        text-align: center;
    }

    .hero-text {
        font-size: 1.5em;
    }

    .body-of-text, .historie {
        width: auto;
        padding: 16px;
    }
  }
